@import '../../../../assets/scss/variables';

#navbar {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: $bg-main;
  padding: 0 10px;

  h2 {
    display: flex;
    align-self: center;
    color: white;
  }

  #profile-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    position: relative;
    cursor: pointer;
  }

  p {
    display: flex;
    align-self: center;
    color: white;
  }
}